certifi==2022.04.13
cffi==1.15.0
chardet==4.0.0
cryptography==36.0.2
idna==3.3
peewee==3.14.10
pycparser==2.21
PyMySQL==1.0.2
python-dotenv==0.20.0
requests==2.27.1
six==1.15.0
urllib3==1.26.9
psycopg2==2.7.7
schedule==1.1.0
pyinstaller==4.10